* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header styling */

#navbar {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    padding: 1% 15%;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 5% 15%;
    background-color: #1F2937;
}

.header-text h1{
    font-size: 54px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.header-text button{
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    padding: 5px 25px;
    color: white;
    margin: 10px 0;
    font-weight: 700;
    font-size: 14px;
}

.header-img {
    background-color: grey;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 15%;
    width: 100%;
    text-align: right;
}

.header-img img {
    justify-content: center;
}

#navbar p {
    font-weight: 900;
    font-size: 25px;
}

#navbar a {
    text-decoration: none;
}

#navbar a:visited {
    color: #E5E7EB;
}

.navbar-btn li {
    list-style-type: none;
    display: inline;
    font-weight: 300;
    font-size: 18px;
    padding: 0 5px;
}

/* body styling */

/* 1-Body Squares */

#body-square {
    text-align: center;
    padding: 50px 0;
}

#body-square h2 {
    font-size: 40px;
    font-weight: 900;
    color: #1F2937;
}

.rect-img-block {
    width: 165px;
    height: 250px;
    display: inline-block;
    margin: 40px;
}

.rect-img-block div {
    width: 175px;
    height: 175px;
    margin: 5px;
    border-radius: 30px;
    border-style: solid;
    border-color: #3882F6;
    
}

.rect-img-block p {
    padding-left: 10px;
    color: lightslategray;
}

/* 2-Body Quote */

#body-quote {
    background-color: #E5E7EB;
}

#body-quote div{
    padding: 7% 20%;
}

#body-quote p:nth-child(1){
    font-size: 40px;
    font-weight: 300;
    text-align: justify;
}

#body-quote p:nth-child(2){
    font-size: 30px;
    font-weight: 300;
    text-align: end;
    font-weight: bold;
}

/* 3-Body CTA */
.card {
    background-color: #3882F6;
    margin: 120px 400px;
    display: flex;
    justify-content: space-between;
    padding: 2.5em 2em;
    border-radius: 20px;
}

.cta-text {
    color: #F9FAF8;
}

.cta-text h3{
    font-size: 25px;
}

.card button {
    background-color: #3882F6;
    border-style: solid;
    border-radius: 5px;
    border-color: #F9FAF8;
    padding: 0.5em 2.5em;
    color: white;
    margin: 10px 0;
    font-weight: 700;
    font-size: 14px;
}


/* footer styling */

#footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 1.5em;
}


